__pycache__/
*.py[cod]

recursos/videos/*
!recursos/videos/.gitkeep
recursos/imagenes/*
!recursos/imagenes/.gitkeep
recursos/juegos/*
!recursos/juegos/.gitkeep
recursos/epub/*
!recursos/epub/.gitkeep
recursos/archivos/*
!recursos/archivos/.gitkeep
